nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  width: 10%;
  min-width: 90px;
}

nav li:not(:last-child) {
  border-right: 2px solid #ddd;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a.current {
  color: #0293fa;
  border-top: 2px solid #0293fa;
}

nav a:hover {
  color: #fce305;
  border-top: 2px solid #fce305;
}

