body {
  background-color: #fff;
}

.header-left {
  float: left;
  font-size: 24px;
}

.header-left a {
  text-decoration: none;
  color: rgba(64, 64, 63, 0.7);
}

.header-left a:hover {
  color: #40403f;
}

