body {
    background-position: center;
    background-color: #fff;
    color: #000;
}

div.container-m {
  margin-top: 80px;
}

footer{
	background-color:#EEF5FF;
	ppadding-top:60px;
	padding-bottom:60px;
}





.btn-block{
    background-color:#fcff42;
}