nav{
text-align: center;
  ul{
    margin: 0 ;
    padding: 0 ;
  }
  li{
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
    &:not(:last-child){
      border-right:2px solid #ddd;
    }
  }
  a{
    text-decoration: none;
    color: #333;
    &.current{
      color: #00B0F0;
      border-bottom:2px solid #00B0F0;
    }
    &:hover{
      color:#F7CB4D;
      border-bottom:2px solid #F7CB4D;
    }
  }
}